<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>July 1 1-3:00pm </td>  <td>Optional R installation help with Ben Tupper at the workshop zoom link</td> </tr>
      <tr> <td>July 8 1-2:30pm </td>  <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td> </tr>
      <tr> <td>Day 1 Recording </td>  <td><a href= "https://drive.google.com/drive/folders/1UQ1YAQVa_ey3uM6jhV7UiC2-CtW7lo5P"> Spreadsheets and Intro to R Studio</a></td> </tr>
      <tr> <td>July 8 2:30-4:00pm</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson-alternative/introduction-r-rstudio.html">Introduction to R and RStudio</a></td> </tr>
      <tr> <td>July 15 </td>  <td><a href="https://datacarpentry.org/R-ecology-lesson-alternative/visualizing-ggplot.html">Data visualization with ggplot2</a></td> </tr>
      <tr> <td>July 22 </td>  <td><a href="https://datacarpentry.org/R-ecology-lesson-alternative/how-r-thinks-about-data.html">Exploring and understanding data</a></td> </tr>
      <tr> <td>July 29</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson-alternative/working-with-data.html">Working with data</a></td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
